[submodule "coq-ext-lib"]
	path = coq-ext-lib
	url = https://github.com/coq-ext-lib/coq-ext-lib
[submodule "FeSi"]
	path = FeSi
	url = https://github.com/mmalvarez/Synthesis
[submodule "coq-extensible-records"]
	path = coq-extensible-records
	url = https://github.com/gmalecha/coq-extensible-records
