<div class="container" style="padding-top:1em">
  <div class="jumbotron">
    <div class="container">
      <div class="row vertical-align">
	<div class="col-md-5 text-center">
	  <h1 class="page-title">{{ site.title }}</h1>
	  <div class="container" style="width:45%">
            <img class="img-responsive" src="/images/{{ site.both-logos }}">
	  </div>
	</div>
	<div class="col-md-7 text-justify">
	  <div class="project-description">{{ site.description }}</div>
	</div>
      </div>

      <div class="centered-pills" style="padding-top:1.8em">
	<ul class="nav nav-pills header-pills">
	  <li><a class="btn btn-lg btn-primary" href="/">Home</a></li>
	  <li><a class="btn btn-lg btn-primary" href="/#blog">Blog</a></li>
	  <li><a class="btn btn-lg btn-primary" href="/code-papers.html">Code and Papers</a></li>
	  <li><a class="btn btn-lg btn-primary" href="/about.html">About</a></li>
	  <li><a class="btn btn-lg btn-primary" href="#footer">Contact</a></li>
	</ul>
      </div>
<!--
      <div class="text-center">
	<div class="btn-group" role="group">
	  <a class="btn btn-lg btn-primary" href="/">Home</a>
	  <a class="btn btn-lg btn-primary" href="/#blog">Blog</a>
	  <a class="btn btn-lg btn-primary" href="/code-papers.html">Code and Papers</a>
	  <a class="btn btn-lg btn-primary" href="/about.html">About</a>
	  <a class="btn btn-lg btn-primary" href="#footer">Contact</a>
	</div>
      </div>
-->
    </div>-
  </div>
</div>
