<div class="jumbotron">

  <div class="row">
    <div class="col-sm-2 col-xs-3">
      <img class="img-responsive" src="{{ site.baseurl}}/images/{{ site.logo }}">
    </div>
    <div class="col-sm-8 col-xs-6">
      <center>
        <h1>VeriDrone</h1>
        <p class="lead">Foundational Verification of Cyber-Physical Systems</p>
      </center>
    </div>
    <div class="col-sm-2 col-xs-3">
      <img class="img-responsive" src="{{ site.baseurl }}/images/{{ site.ucsd-logo }}">
    </div>      
  </div>

  <div style="padding-top:2em">
    
    <div class="row">
      {% if layout.navigation %}{% assign nav = layout.navigation %}{% endif %}
      {% if page.navigation %}{% assign nav = page.navigation %}{% endif %}
      {% for link in nav %}
      <div class="col-md-2 col-xs-4">
	<a class="btn btn-responsive btn-lg {% if page.url == link.url %}btn-primary{% else %}btn-default{% endif %} btn-block" href="{{ site.baseurl }}{{ link.url }}">{{ link.text }}</a>
      </div>
      {% endfor %}
    </div>
    
  </div>
</div>
