---
navigation:
- text: Blog
  url: /index.html
- text: Overview
  url: /overview.html
- text: Papers
  url: /papers.html
- text: Code
  url: /code.html
- text: Videos
  url: /videos.html
- text: People
  url: /people.html 
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include follow.html %}

    <div class="container">
      {% include header.html %}
      
          {{ content }}
    </div>

    <div id="footer"></div>
    {% include footer.html %}

  </body>

</html>
